/* @define TTCREvidence */
.TTCREvidence {
  align-self: start;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media only screen and (max-width: 600px) {
    &-data {
      flex-direction: column;
      margin: 0 15px;
    }
  }

  @media only screen and (min-width: 600px) {
    &-data {
      flex-direction: row;
    }
  }

  @media only screen and (min-width: 600px) {
    &-symbol {
      height: 100%;
      padding: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    &-symbol {
      padding-bottom: 20px;
    }
  }

  &-data {
    align-items: center;
    display: flex;

    @media only screen and (max-width: 600px) {
      &-card {
        flex-direction: column;
      }

      &-separator {
        border-top: 1px solid #ccc;
        margin: 15px 0;
      }
    }

    @media only screen and (min-width: 600px) {
      &-card {
        flex-direction: row;
      }

      &-separator {
        border-top: 1px solid #ccc;
        margin: 0 25px 0 25px;
      }
    }

    &-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      display: flex;
      overflow: hidden;
      padding: 23px;
      transition: 0.3s;
      width: 100%;

      &:hover {
        box-shadow: 0 3px 6px rgba(201, 201, 201, 0.5);
      }
    }

    &-separator {
      border-left: 1px solid #ccc;
      top: 0;
    }
  }

  &-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;

    &-multiline {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }

    &-name, &-ticker {
      font-size: 1.2em;
      line-height: 23px;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
    }

    &-ticker {
      color: #9e9e9e;
    }
  }

  &-label {
    color: #9e9e9e;
    font-size: 1em;
    line-height: 20px;
  }

  &-value {
    line-height: 20px;
    max-width: 100%;
    overflow-x: auto;
  }

  &-link {
    color: rgb(32, 147, 255);
  }

  &-symbol {
    align-self: center;
    border-radius: 5px 5px 0 0;
    object-fit: contain;
    width: 110px;
  }

  &-plus {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}
